<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layout/header') %>
    <style>
        .banner__title{
            margin-block-end: 2rem;
        }
    </style>
</head>
<body>
    <%- include('./layout/navbar') %>
    <header class="banner">
        <h1 class="banner__title">Page Not Found</h1>
        <a href="/" class="btn">Go to Home page</a>
    </header>
</body>
</html>