<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layout/header') %>
    <style>
        .form{
            display: grid;
            gap: 1rem;
            padding: 2rem;
            max-width: 500px;
            margin-inline: auto;
        }
        .form__label{
            color: #27374D;
            display: block;
            margin-block-end: 0.5rem;
            font-weight: 600;
        }
        .form__input{
            width: 100%;
            padding: 15px;
            border: 2px solid #27374D;
        }
    </style>
</head>
<body>
    <%- include('./layout/navbar') %>
    <header class="banner">
        <h1 class="banner__title">This is <%= pageTitle %> page</h1>
    </header>
    <main class="container">
        <form action="#!" class="form">
            <label class="form__group">
                <span class="form__label">Title</span>
                <input type="text" class="form__input" name="title" required>
            </label>
            <label class="form__group">
                <span class="form__label">Description</span>
                <textarea class="form__input" name="description" rows="6" required></textarea>
            </label>
            <button type="submit" class="btn">Create</button>
        </form>
    </main>
</body>
</html>