<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layout/header') %>
</head>
<body>
    <%- include('./layout/navbar') %>
    <header class="banner">
        <h1 class="banner__title">This is <%= pageTitle %> page</h1>
        <p class="banner__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore distinctio aut quod? Consequuntur assumenda dolorem velit sint nulla blanditiis nesciunt?</p>
        <form action="#!">
            <button type="submit" class="btn">Delete</button>
        </form>
    </header>
</body>
</html>