<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEEN Project | <%= pageTitle %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        a{
            text-decoration: none;
        }
        body{
            font-weight: 400;
        }
        .banner__title{
            color: #ffffff;
            font-size: max(2rem, 4vw);
            font-weight: 800;
            text-shadow: 0.1em 0.1em 0 #27374D;
        }
        .blog__title{
            font-weight: 600;
        }
        .navbar,
        .banner
        {
            text-align: center;
        }
        .navbar{
            display: flex;
            justify-content: center;
            padding-inline: 15px;
            background-color: #526D82;
        }
        .navbar__link{
            color: #ffffff;
            padding: 1rem;
        }
        .navbar__link:is(:hover, :focus-visible){
            background-color: #27374D;
        }
        .banner{
            padding-block: 5rem;
            background-color: #9DB2BF;
        }
        .container{
            margin-inline: auto;
            width: 100%;
            max-width: 1140px;
        }
        .blog{
            display: block;
            padding: 1rem;
            margin: 1rem;
            color: #27374D;
            background-color: #DDE6ED;
            border-left: 5px solid currentColor;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <a href="/" class="navbar__link">All Blogs</a>
        <a href="/create" class="navbar__link">Create Blog</a>
    </nav>
    <header class="banner">
        <h1 class="banner__title">This is <%= pageTitle %> page</h1>
    </header>
    <main class="container">
        <% if(blogs.length > 0){ %>
            <% blogs.map((blog)=>{ %>
                <a href="/details" class="blog">
                    <h2 class="blog__title"><%= blog.title %></h2>
                    <p class="blog__text"><%= blog.description %></p>
                </a>
            <% }) %>
        <% }else{ %>
            <article class="blog">
                <h2 class="blog__title">No Blogs created</h2>
            </article>
        <% } %>
    </main>
</body>
</html>